* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    --color-bg: #0f0f0f;
    --color-bg-2: #212121;
    --color: #48e;
    --shadow: #48f;
    background-color: var(--color-bg);
}

* {
    box-sizing: border-box;
}

div , section, body, a {
    margin: 0;
    padding: 0;
}
/*---------- Primera SECCION ----------*/

/*H2*/

h2 {
    color: var(--color);
    font-family: sans-serif;
    font-size: 2.5rem;
    margin-bottom: 100px;
    font-weight: 100;
    letter-spacing: .7rem;
}

/*BARRA DE NAVEGACION*/

.barra-deslizable {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 20px 17px #000f;
    margin-bottom: 4rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-bg-2);
    overflow-x: auto; /* Activar scroll horizontal */
    overflow-y: hidden; /* Ocultar el scroll vertical */
    scrollbar-color: transparent transparent; /* Hace el scroll transparente en Firefox */
}


.barra-deslizable::-webkit-scrollbar {
    height: 8px; /* Tamaño del scrollbar (ajustable) */
}

.barra-deslizable::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color transparente para la barra */
}

.nav-link {
    text-decoration: none;
    font-family: sans-serif;
    padding: 0.5rem;
    color: #333;
}

.nav-link.active {
    border-bottom: 2px solid var(--color);
    color: var(--color);
}


/*ALBUMS*/
.inicio-album {
    display:none ;
}

.album-seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    background-color: var(--color-bg);
}

.album-div {
    padding: 10px;
    background-color: var(--color-bg-2);
    border-radius: 14px;
    text-align: center;
    position: relative; /* Para que los bordes animados se posicionen correctamente */
    overflow: hidden; /* Para ocultar cualquier contenido que sobresalga */
}

.album-div h3 {
    font-size: 1.2rem; /* Tamaño del texto ajustado */
    margin-bottom: 5px; /* Espaciado reducido */
    color: var(--color);
    font-family: sans-serif;
}

.galeria {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en filas */
    justify-content: center;
    gap: 5px; /* Espaciado entre imágenes */
    max-height: 110px;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.galeria img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.galeria.expandido {
    max-height: 1000px; /* Altura para mostrar más fotos */
}

.ver-mas {
    margin-top: 10px;
    padding: 8px 12px; 
    border: none;
    background-color: var(--color);
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mas:hover {
    background-color: var(--color);
}

/*---------- BORDE DE CAJA ANIMADO ----------*/

.borde-animado-contenedor {
    padding: 1px;
    width: calc(100% - 7rem);
    border-radius: 14px;
    background-color: transparent;
    position: relative;
    z-index: 10;
    overflow: hidden;
    margin-bottom: 5rem ;
}

.borde-animado-contenedor::before {
    content: '';
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background:radial-gradient(circle, #48e 10%, #fff 90%);
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: -1;
    box-shadow: 0px 0px 40px var(--shadow);
    animation: mover 6s linear infinite;
}

.borde-animado-contenedor::after {
    content: '';
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background:radial-gradient(circle, #48e 10%, #fff 90%);
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: -1;
    box-shadow: 0px 0px 40px var(--shadow);
    animation: mover2 6s linear infinite;
}


@keyframes mover {
    0% { /*arriba izquierda*/
        top: -3rem;
        left: -3rem;
    }
    25% { /*arriba derecha*/
        top: -3rem;
        left: calc(100% - 3rem);
    }
    50% { /*abajo derecha*/
        top: calc(100% - 3rem);
        left: calc(100% - 3rem);
    }
    75% { /*abajo izquierda*/
        top: calc(100% - 3rem);
        left: -3rem;
    }
    100% { /*arriba izquierda*/
        top: -3rem;
        left: -3rem;
    }
}


@keyframes mover2 {
    0% {
        top: calc(100% - 3rem);
        left: calc(100% - 3rem);
    }
    25% {
        top: calc(100% - 3rem);
        left: -3rem;
    }
    50% {
        top: -3rem;
        left: -3rem;
    }
    75% {
        top: -3rem;
        left: calc(100% - 3rem);
    }
    100% {
        top: calc(100% - 3rem);
        left: calc(100% - 3rem);
    }
}